<div class="analyzer-result-dialog modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <i class="header-icon"></i><span class="title-text">Analyzer result(s)</span>
            </div>
            <div class="modal-body">
                <div class="result-archive"></div>
                <div class="result-image"></div>
            </div>
        </div>
    </div>
</div>